<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Ahana is a 13 plus-year-old Information Technology firm based in Bengaluru. The company started off as an SME-oriented company providing IT services to SMEs and has since then transformed itself into an end-to-end Infrastructure Managed Services and Digital Transformation Services company that provides the latest in Cloud, RPA, DB & EDW, BI & Analytics, and Application Development. Ahana’s 100 plus client roster now comprises several large enterprise companies with specific focus and expertise across industry sectors such as Logistics, BFSI, IoT/Telematics, and Manufacturing.  Its deep domain expertise, skilled resource base, and proven partnership with Industry best technology providers such as Microsoft, AWS, Digital Ocean, NetMagic, SAP, UiPath, Checkpoint, FortiGate, etc. have ensured that Ahana is now considered as one of the preferred IT service providers for its clients and partners</p>
        <img class="portrait" src="../images/logo.jpg" alt="ahana.co">
    </div>
    
    {{>footer}}

</body>
</html>