{{!-- this pages layout is fixed for all the pages and values will be different for every pages as per
the values mentioned in nodejs --}}


<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>
    